html,

body {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  margin-right: 10px;
}

crypto_wallet_address {
  font-family: "Lucida Console", "Courier New", monospace;
}
